:root {
    --light: #F2F4F5;
    --laccent: #92896C;
    --main: #7593A8;
    --daccent: #765C59;
    --dark:  #243A4D;

    --maroon: #793140;
    --white: #fcfcfc;
    --maroon-but-darker: #582235;

    --br: .2rem;
    --border: .08rem solid var(--maroon-but-darker);
    --bst: 1s;   
}

#Lbar-container {
    align-content: center;
    justify-content: center;
    text-align: center;
    margin: auto;
    padding-bottom: 1rem;
}

#Lbar-text {
    color: var(--light);
    padding-bottom: 1.7rem;
    font-size: 12pt;
    margin: auto;
}

#Lbar-border {
    margin: auto;
    width: 75%;
    height: 1rem;
    border: var(--border);
}


#Lbar-bar {
    align-self: left;
    width: 100%;
    height: 100%;
    background-color: var(--maroon);
    transform-origin: left;
    transform: scaleX(0);
    animation-fill-mode: both;
    
}

#Lbar-container {
    height: 2rem;
    width: 100%;
}

.q1 {
    animation: Lbar-progress-q1 var(--bst) linear;
}

.q2 {
    animation: Lbar-progress-q2 var(--bst) linear;
}

.q3 {
    animation: Lbar-progress-q3 var(--bst) linear;
}

.q4 {
    animation: Lbar-progress-q4 var(--bst) linear;
}

.q5 {
    animation: Lbar-progress-q5 var(--bst) linear;
}

@keyframes Lbar-progress-q1 {
    0% {transform: scaleX(0)}
    100% {transform: scaleX(.2)}
}

@keyframes Lbar-progress-q2 {
    0% {transform: scaleX(.2)}
    100% {transform: scaleX(.4)}
}

@keyframes Lbar-progress-q3 {
    0% {transform: scaleX(.4)}
    100% {transform: scaleX(.6)}
}

@keyframes Lbar-progress-q4 {
    0% {transform: scaleX(.6)}
    100% {transform: scaleX(.8)}
}

@keyframes Lbar-progress-q5 {
    0% {transform: scaleX(.8)}
    100% {transform: scaleX(1)}
}

@keyframes Lbar-complete {
    0% {transform: scaleX(0)}
    100% {transform: scalex(1)}
}