:root {


    --maroon: #793140;--white: #FFFFFF;
    --maroon-but-darker: #582235;

    --br: .2rem;
    --border: .24rem solid var(--maroon-but-darker);

    --normal-font-size: 14pt;
}

body {
    font-family: sans-serif;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    font-size: var(--normal-font-size);
}

#mayo{
    align-content: center;
    padding-top: 1%;
    width: 10%;
    height: 10%;


}

.light {
    background-color: var(--white);
    color: var(--dark)
}

.light::selection {
    color: var(--white);
    background: var(--maroon);
}


.maroon {
    background-color: var(--maroon);
    color: var(--white);
}
h1{
    width: 100%;
}

h1, h2 {
    margin: auto;
    padding: 0px;
    /* justify-content: center; */
    align-content: center;
    position: relative;
    text-align: center;
    background-image: url('ranchDressing.jpg'); 
    background-size:cover;
    box-shadow: inset 0 0 0 1000px rgba(121, 49, 65, 0.524);
}

h2 {
    padding: .4rem .8rem;
}



.maroon::selection {
    color: var(--maroon-but-darker);
    background: var(--white);
}

.input-label {
    color: var(--maroon-but-darker)
}

#uploadForm {
    text-align: center;
    margin: auto;
    padding: 1rem;
}

input[type="file"] {
    display: none;
  }
  
.custom-overlay-button {
    color: var(--maroon-but-darker);
    font-size: var(--normal-font-size);
    font-family: sans-serif;
    border: var(--border);
    border-radius: var(--br);
    display: inline-block;
    padding: .4rem .8rem;
    cursor: pointer;
    align-content: center;
    margin: 0rem .5rem ;
    text-align: center;
    transition: transform .25s ease-in-out, background-color .1s ease-in-out, color .1s ease-in-out;
}

.custom-overlay-button:hover {
    border: var(--border);
    background-color: var(--maroon);
    color: var(--white);
    transform: scale(1.07);
    /* padding: .6rem 1.2rem; */
}

.custom-overlay-button:active {
    border: var(--border);
    background-color: var(--maroon-but-darker);
    color: var(--white);
    transform: scale(1.03);
    /* padding: .6rem 1.2rem; */
}

.custom-overlay-button:hover::selection {
    background: var(--white);
    color: var(--maroon-but-darker);
    /* padding: .6rem 1.2rem; */
}

.custom-overlay-button::selection {
    background: var(--maroon);
    color: var(--white);
}


.hidden-button {
    display: none;
}

.thin-bar {
    height: .15rem;
    position: relative;
    margin-top: .5rem;
    width: 100%;

}

select {
    font-size: var(--normal-font-size);
    color: var(--maroon-but-darker);
    background-color: var(--white);
    border: var(--border);
    border-radius: var(--br);
    padding: .4rem .8rem;
    margin: .5rem .5rem;
    font-family: sans-serif;
    transition: transform .25s;

}

select:hover {
    border: var(--border);
    background-color: var(--maroon);
    color: var(--white);
    transform: scale(1.07);
}

#post-form {
    margin: auto;
    padding: 1rem;
    align-content: center;
    justify-content: center;
    text-align: center;
}

.tab-container {
    display: grid;
    grid-template-areas: 'honor prefect senate secretary';
    height: 2rem;
    z-index: 1;
}

.selectable-tab {
    text-align: center;
    font-weight: bold;
    padding: .75rem;
    cursor: pointer;
    color: var(--white);
    border: var(--border);
    background-color: var(--maroon);
    /* transition: background-color 0.5s ease-in-out, border-color 0.5s ease-in-out, transform .15s linear, border-radius .15s; */
}


@keyframes seltab-selected {
    0% {
       background-color: var(--maroon);

    }
    
    100% {
        background-color: var(--maroon-but-darker);
        transform: scale(1.1);
        z-index: 1;
    }
}


@keyframes seltab-deselected {
    0% {
        background-color: var(--maroon-but-darker);
        transform: scale(1.1);
    }
    99% {z-index: 1};
    100% {
        background-color: var(--maroon);
        transform: scale(1.0);
        z-index: 0;
    }
}

.results {display:none};

.chart {
    width: 25%;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

@keyframes fly-in {
    0% {
        transform: translateY(-150%);
    }
    100% {
        transform: translateY(0%);
    }
}

#shown-results {
    width: 75vw;
    justify-content: center;
    align-content: center;
    margin: auto;
    padding: 4rem;
}

#csv-name {
    font-size: var(--normal-font-size);
    padding: .4rem .8rem;
    border-radius: var(--br);
    border: var(--border);
    color: var(--maroon);
    background-color: var(--white);
}

#csv-name:focus {
    background-color: var(--white);
    outline-color: var(--maroon);
    
}


.anim-flyin {
    animation-name: fly-in;
    animation-duration: .2s;
    animation-timing-function: ease-in-out;
    overflow-y: hidden;
    animation-fill-mode: both;
}

.title-anim {
    animation-name: title-anim;
    animation-duration: 3s;
    animation-direction: alternate;
    animation-fill-mode: both;
    animation-iteration-count: infinite; 

}

@keyframes title-anim {
    from {transform: scale(1);}
    to {transform: scale(1.05);}
}

#thingy
{
    display: none;
}

.hed {
    margin: auto;
    padding: 1rem;
}

.list-text {
    margin: auto;
    padding-left: 1rem;
    color: var(--maroon-but-darker);
}

.list-header {
    font-size: 120%;
    font-weight: bold;
}

#instruc-table, tr, th, td {
    border: .1rem solid var(--maroon-but-darker);
    border-collapse: collapse;
    padding: .3rem;
}

#instruct-div {
    padding-top: .35rem;
    padding-bottom: .15rem;
    margin: auto;
    width: 75vw;
    justify-content: center;
    align-content: center;
    text-align: center;
}

#return-custom:hover {
    color: var(--white);
}

.indiv-chart-div {
    width: 100%;
    align-items: center;
    margin: auto;
}

#chartDiv {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2rem;
    width: 85%;
    margin: auto;
}

.election-done-div {
        grid-column: span 2;
}

#toggle-switch {
    margin-left: 1rem;
    margin-right: 1rem;
}

#switch-div {
    display: flex;
    align-content: center;
    text-align: center;
    vertical-align: middle;
    align-items: center;
    justify-content: center;
}


#switch-p-r {
    margin-right: auto;
}

#switch-p-l {
    margin-left: auto;
}

#switch-div p {
    color: var(--maroon-but-darker);
    font-weight: bold;
    font-family: sans-serif
}

.tempDiv {
    height: 4rem;
    width: 100vw;
    background-color: var(--maroon);
    color: var(--maroon);
}

.point-graph {
    width: 75%;
}